<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from backend.themesadmin.com/backend/admin_icon_menu/default/admin_default/userlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 08 May 2017 10:52:08 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="description" content="bootstrap default admin template">
    <meta name="viewport" content="width=device-width">
    <title>Gestion Universitaire</title>

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
    <script type="text/javascript" src="{{ asset('templates/assets/global/plugins/jquery/dist/jquery.min.js') }}"></script>

    <script type="text/javascript">
        //<![CDATA[
        try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"de2f1d2ca7a4618e2e35af9620d39dfd",petok:"6951daf743559100a5a9336c6b2eb20686d18235-1494240511-1800",zone:"themesadmin.com",rocket:"0",apps:{"ga_key":{"ua":"UA-92643213-2","ga_bs":"2"}}}];!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v%3d85b614c0f6/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
        //]]>
    </script>
    <link href="//fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet" type="text/css" />
    <!-- END LAYOUT FIRST STYLES -->
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="http://backend.themesadmin.com/backend/assets/favicon/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="{{ asset('templates/assets/favicon/apple-touch-icon.png') }}"/>
    <link rel="apple-touch-icon" sizes="{{ asset('templates/assets/favicon/apple-touch-icon-57x57.png') }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('templates/assets/favicon/apple-touch-icon-72x72.png') }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('templates/assets/favicon/apple-touch-icon-76x76.png') }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('templates/assets/favicon/apple-touch-icon-114x114.png') }}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('templates/assets/favicon/apple-touch-icon-120x120.png') }}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('templates/assets/favicon/apple-touch-icon-144x144.png') }}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('templates/assets/favicon/apple-touch-icon-152x152.png') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('templates/assets/favicon/apple-touch-icon-180x180.png') }}"/>

    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/bootstrap/dist/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/icons_fonts/elegant_font/elegant.min.css') }}"/>
    <link id="site-color" rel="stylesheet" href="{{ asset('templates/assets/layouts/layout-icon-menu/css/color/light/color-default.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/switchery/dist/switchery.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/perfect-scrollbar/css/perfect-scrollbar.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href='//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css'/>



    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/fullcalendar/dist/fullcalendar.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/font-awesome/css/font-awesome.min.css') }}"/>


    <!-- BEGIN selectize -->
    <script src="{{ asset('templates/assets/global/js/selectize.js') }}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('templates/assets/global/css/selectize.default.css') }}" />
    <script src="{{ asset('templates/assets/global/js/index.js') }}" type="text/javascript"></script>
    <!-- END selectize -->

    {% block header %} {% endblock %}


    <link rel="stylesheet" href="{{ asset('templates/assets/global/css/components.min.css') }}"/>


    <link rel="stylesheet" href="{{ asset('templates/assets/layouts/layout-icon-menu/css/layout.min.css') }}"/>



    {% block javascripts %}
        <script type="text/javascript">
            /* <![CDATA[ */
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-92643213-2']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

            (function(b){(function(a){"__CF"in b&&"DJS"in b.__CF?b.__CF.DJS.push(a):"addEventListener"in b?b.addEventListener("load",a,!1):b.attachEvent("onload",a)})(function(){"FB"in b&&"Event"in FB&&"subscribe"in FB.Event&&(FB.Event.subscribe("edge.create",function(a){_gaq.push(["_trackSocial","facebook","like",a])}),FB.Event.subscribe("edge.remove",function(a){_gaq.push(["_trackSocial","facebook","unlike",a])}),FB.Event.subscribe("message.send",function(a){_gaq.push(["_trackSocial","facebook","send",a])}));"twttr"in b&&"events"in twttr&&"bind"in twttr.events&&twttr.events.bind("tweet",function(a){if(a){var b;if(a.target&&a.target.nodeName=="IFRAME")a:{if(a=a.target.src){a=a.split("#")[0].match(/[^?=&]+=([^&]*)?/g);b=0;for(var c;c=a[b];++b)if(c.indexOf("url")===0){b=unescape(c.split("=")[1]);break a}}b=void 0}_gaq.push(["_trackSocial","twitter","tweet",b])}})})})(window);
            /* ]]> */
        </script>
    {% endblock %}
</head>

<body onload = "">
<div class="loader-overlay">
    <div class="loader-preview-area">
        <div class="spinners">
            <div class="loader">
                <div class="rotating-plane"></div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <header id="header">

        <div class="header-width">
            <div class="col-xl-9">
                <div class="logo float-xs-left">
                    <a href="{{ path('user_user_homepage')  }}"><img src="{{ asset('templates/assets/global/image/web-logos.png') }}" alt="logo"></a>
                </div>
            </div>
            <div class="col-xl-3 header-right">
                <div class="header-inner-right">
                    <div class="float-default chat">
                        <div class="right-icon">
                            <a href="#" data-plugin="fullscreen">
                                <i class="arrow_expand"></i>
                            </a>
                        </div>
                    </div>
                    <div class="user-dropdown">
                        <div class="btn-group">
                            <a href="#" class="user-header dropdown-toggle" data-toggle="dropdown" data-animation="slideOutUp" aria-haspopup="true" aria-expanded="false">
                                <img src="{{ asset('templates/assets/global/image/profilIcon.png') }}" alt="Profile image"/>
                            </a>
                            <div class="dropdown-menu drop-profile">
                                <div class="userProfile">
                                    <img src="{{ asset('templates/assets/global/image/profilIcon.png') }}" alt="Profile image"/>
                                    <p>
                                        {% if app.user is defined %}
                                            {{ app.user.username }}
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="dropdown-divider"></div>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a class="btn left-spacing link-btn" href="{{ path('profilAdmin') }}" role="button">
                                    {% elseif is_granted('ROLE_ADMIN') %}
                                    <a class="btn left-spacing link-btn" href="{{ path('profilMembre') }}" role="button">
                                        {% elseif is_granted('ROLE_ENSEIGNANT') %}
                                        <a class="btn left-spacing link-btn" href="{{ path('profilEnseignant') }}" role="button">
                                            {% elseif is_granted('ROLE_ETUDIANT') %}
                                            <a class="btn left-spacing link-btn" href="{{ path('profilEtudiant') }}" role="button">
                                                {% else %}
                                                <a class="btn left-spacing link-btn" href="{{ path('profilParent') }}" role="button">
                                                    {% endif %}
                                                    Mon Profil</a>
                                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                    <a class="btn btn-primary float-xs-right right-spacing" href="{{ path('fos_user_security_logout') }}"
                                                       role="button">
                                                        <i class="icon-key"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                                    </a>
                                                {% else %}
                                                    <a href="{{ path('fos_user_security_login') }}">
                                                        <i class="icon-key"></i>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                                                    </a>
                                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block menu %}{% endblock %}
    </header>
    {% block section %}{% endblock %}
</div>
<script type="text/javascript" src="{{ asset('templates/assets/global/plugins/tether/dist/js/tether.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('templates/assets/global/plugins/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('templates/assets/global/plugins/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('templates/assets/global/plugins/switchery/dist/switchery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('templates/assets/global/plugins/screenfull.js/dist/screenfull.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('templates/assets/global/plugins/classie/classie.js') }}"></script>


{% block footer %}{% endblock %}

<!-- START PAGE PLUGINS -->
<script type="text/javascript"
        src="{{ asset('templates/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('templates/assets/global/plugins/datatables/media/js/dataTables.bootstrap4.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('templates/assets/global/plugins/datatables-responsive/js/dataTables.responsive.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('templates/assets/global/plugins/datatables-responsive/js/responsive.bootstrap4.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('templates/assets/global/plugins/datatables-scroller/js/dataTables.scroller.js') }}"></script>

<script type="text/javascript" src="{{ asset('templates/assets/global/plugins/moment/min/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('templates/assets/global/plugins/flatpickr/dist/flatpickr.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('templates/assets/global/plugins/jQuery.print/jQuery.print.js') }}"></script>
<!-- END PAGE PLUGINS -->

<script type="text/javascript" src="{{ asset('templates/assets/global/js/site.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('templates/assets/global/js/site-settings.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('templates/assets/global/js/global/userlist.js') }}"></script>

<script type="text/javascript" src="{{ asset('templates/assets/layouts/layout-icon-menu/js/layout.min.js') }}"></script>

</body>

<!-- Mirrored from backend.themesadmin.com/backend/admin_icon_menu/default/admin_default/userlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 08 May 2017 10:52:14 GMT -->
</html>