{% extends "::layoutAdmin.html.twig" %}

{% block body %}
    <div class="col-md-12 profile-contain">
    <div class="row">
    <div class="col-md-12 col-xs-12">
    <div class="content">
    <h5>Information sur les paiements de l'enseignant(e) : <b>{{ paiement.enseignant.nom }} {{ paiement.enseignant.prenom }}</b></h5>
    <a href="{{path('gestion_paiement_enseignant')}}">Revenir à la liste des paiements</a>
    <table class="table">
    <tbody>
    <tr><td><b>Nom</b></td><td>{{ paiement.enseignant.nom  }}</td></tr>
    <tr><td><b>Prenom</b></td><td>{{ paiement.enseignant.prenom }}</td></tr>
    <tr><td><b>Date de la première tranche</b></td><td>{{ paiement.dateTranche1|date('d-m-Y')  }}</td></tr>
    <tr><td><b>Date de la deuxième tranche</b></td><td>{{ paiement.dateTranche2|date('d-m-Y') }}</td></tr>
    <tr><td><b>Date de la troisième tranche</b></td><td>{{ paiement.dateTranche3|date('d-m-Y') }}</td></tr>
    <tr><td><b>Etat de paiement de la première tranche</b></td><td>{{ paiement.EtatDateTranche1 }}</td></tr>
    <tr><td><b>Etat de paiement de la deuxième tranche</b></td><td>{{ paiement.EtatDateTranche2 }}</td></tr>
    <tr><td><b>Etat de paiement de la troisième tranche</b></td><td>{{ paiement.EtatDateTranche3 }}</td></tr>
    <tr><td><b>Montant de la première tranche</b></td><td>{{ paiement.montant1 }}</td></tr>
    <tr><td><b>Montant de la deuxième tranche</b></td><td>{{ paiement.montant2 }}</td></tr>
    <tr><td><b>Montant de la troisième tranche</b></td><td>{{ paiement.montant3 }}</td></tr>
    <tr><td><a href="{{ path('modifier_paiement_enseignant',{'id':paiement.id}) }}"><button class="btn btn-primary">Modifier</button></a></td></tr>
    </tbody>
    </table>
    </div></div></div></div>
{% endblock %}