{% extends '::layoutAdmin.html.twig' %}

{% block header %}

    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/datatables/media/css/dataTables.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/datatables-scroller/css/scroller.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/flatpickr/dist/flatpickr.min.css') }}"/>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        document.getElementById('contrat').onchange = function(){
            alert(this.value);
        };
    </script>

    <script type="text/javascript">
        function checkname()
        {
            var name=document.getElementById( "etudiant_login" ).value;
            var pseudo = $("#etudiant_login").val();

            if(name)
            {
                $.ajax({
                    type: 'post',
                    url: "{{ url('verifLogin') }}?pseudo=" + pseudo,
                    data: {
                        user_name:name,
                    },
                    success: function (response) {
                        $( '#name_status' ).html(response);
                        if(response=="OK")
                        {
                            return true;
                        }
                        else
                        {
                            return false;
                        }
                    }
                });
            }
            else
            {
                $( '#name_status' ).html("");
                return false;
            }
        }

        function checkemail()
        {
            var email=document.getElementById( "etudiant_email" ).value;
            var email = $("#etudiant_email").val();

            if(email)
            {
                $.ajax({
                    type: 'post',
                    url: "{{ url('verifEmail') }}?mail=" + email,
                    data: {
                        user_email:email,
                    },
                    success: function (response) {
                        $( '#email_status' ).html(response);
                        if(response=="OK")
                        {
                            return true;
                        }
                        else
                        {
                            return false;
                        }
                    }
                });
            }
            else
            {
                $( '#email_status' ).html("");
                return false;
            }
        }

        function checkall()
        {
            var namehtml=document.getElementById("name_status").innerHTML;
            var emailhtml=document.getElementById("email_status").innerHTML;

            if((namehtml && emailhtml)=="OK")
            {
                return true;
            }
            else
            {
                return false;
            }
        }

    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker({format: 'yyyy-mm-dd'});
        });
    </script>

    <script>
        function same()
        {
            document.getElementById( "etudiant_login" ).value=document.getElementById( "etudiant_email" ).value;
            document.getElementById( "etudiant_password" ).value=document.getElementById( "etudiant_numCinPass" ).value;
        }
    </script>

    <script type="text/javascript">
        function validateForm()
        {
            var dateNais=document.forms["etudiant"]["etudiant_dateNaissance"].value;
            var dateObt=document.forms["etudiant"]["etudiant_anneeObtention"].value;
            if (dateNais==null || dateNais=="" || dateObt==null || dateObt=="")
            {
                alert("Veuillez vérifier les champs de la date");
                return false;
            }else
                return true;
        }
    </script>

    <script>
        function disableField() {
            if( document.getElementById("yourBox").checked == true ) {
                //document.getElementById("gestion_enseignantbundle_enseignant_password").disabled = true;
                document.getElementById( "etudiant_password" ).value=document.getElementById( "oldPwd" ).value;
            }
            else{
                document.getElementById("etudiant_password").disabled = false;
                document.getElementById( "etudiant_password" ).value="";
                document.getElementById("etudiant_password").setAttribute("required","true");
            }}
    </script>

    <script language="JavaScript" type="text/javascript">
        function result() {
            document.getElementById('id13').value = parseFloat(document.getElementById('id1').value) * parseFloat(document.getElementById('id7').value);
            document.getElementById('id14').value = parseFloat(document.getElementById('id2').value) * parseFloat(document.getElementById('id8').value);
            document.getElementById('id15').value = parseFloat(document.getElementById('id3').value) * parseFloat(document.getElementById('id9').value);
            document.getElementById('id16').value = parseFloat(document.getElementById('id4').value) * parseFloat(document.getElementById('id10').value);
            document.getElementById('id17').value = parseFloat(document.getElementById('id5').value) * parseFloat(document.getElementById('id11').value);
            document.getElementById('id18').value = parseFloat(document.getElementById('id6').value) * parseFloat(document.getElementById('id12').value);
            document.getElementById('id19').value =
                    parseFloat(document.getElementById('id13').value) +
                    parseFloat(document.getElementById('id14').value) +
                    parseFloat(document.getElementById('id15').value) +
                    parseFloat(document.getElementById('id16').value) +
                    parseFloat(document.getElementById('id17').value) +
                    parseFloat(document.getElementById('id18').value);
        }

        function result1() {
            document.getElementById('id32').value = parseFloat(document.getElementById('id20').value) * parseFloat(document.getElementById('id26').value);
            document.getElementById('id33').value = parseFloat(document.getElementById('id21').value) * parseFloat(document.getElementById('id27').value);
            document.getElementById('id34').value = parseFloat(document.getElementById('id22').value) * parseFloat(document.getElementById('id28').value);
            document.getElementById('id35').value = parseFloat(document.getElementById('id23').value) * parseFloat(document.getElementById('id29').value);
            document.getElementById('id36').value = parseFloat(document.getElementById('id24').value) * parseFloat(document.getElementById('id30').value);
            document.getElementById('id37').value = parseFloat(document.getElementById('id25').value) * parseFloat(document.getElementById('id31').value);
            document.getElementById('id38').value =
                    parseFloat(document.getElementById('id32').value) +
                    parseFloat(document.getElementById('id33').value) +
                    parseFloat(document.getElementById('id34').value) +
                    parseFloat(document.getElementById('id35').value) +
                    parseFloat(document.getElementById('id36').value) +
                    parseFloat(document.getElementById('id37').value);
        }

        function result2() {
            document.getElementById('id51').value = parseFloat(document.getElementById('id39').value) * parseFloat(document.getElementById('id45').value);
            document.getElementById('id52').value = parseFloat(document.getElementById('id40').value) * parseFloat(document.getElementById('id46').value);
            document.getElementById('id53').value = parseFloat(document.getElementById('id41').value) * parseFloat(document.getElementById('id47').value);
            document.getElementById('id54').value = parseFloat(document.getElementById('id42').value) * parseFloat(document.getElementById('id48').value);
            document.getElementById('id56').value = parseFloat(document.getElementById('id43').value) * parseFloat(document.getElementById('id49').value);
            document.getElementById('id57').value = parseFloat(document.getElementById('id44').value) * parseFloat(document.getElementById('id50').value);
            document.getElementById('id58').value =
                    parseFloat(document.getElementById('id51').value) +
                    parseFloat(document.getElementById('id52').value) +
                    parseFloat(document.getElementById('id53').value) +
                    parseFloat(document.getElementById('id54').value) +
                    parseFloat(document.getElementById('id56').value) +
                    parseFloat(document.getElementById('id57').value);
        }

    </script>

{% endblock %}

 {% block body %}
     <div class="col-md-12 profile-contain">
         <div class="row">
             <div class="col-md-12 col-xs-12">
                 <div class="content">
                     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <h5>Mise à jours des donnée de paiement de l'enseignant : <b>{{ paiement.enseignant.nom }} {{ paiement.enseignant.prenom }}</b></h5>
                         <a href="{{path('gestion_paiement_enseignant')}}">Revenir à la liste des paiements</a>
                     </div>
                     <br><br><br>
                     {{ form_start(form, {'action': path('modifier_paiement_enseignant',{'id': paiement.id}),'attr': {'class': 'smart-form userform', 'onsubmit':'return validatesForm();'} } ) }}
                     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                         <label>Nom de l'enseignant</label>
                         <div class="form-group">
                             {{ form_widget(form.enseignant) }}
                         </div>
                         </div>

                         <div class="col-md-12 profile-contain">
                             <div class="row">
                                 <div class="col-md-12 col-xs-12">
                                     <div class="content">

                                         <label>Etat de la Première Tranche</label>
                                         <div class="form-group">
                                             {{ form_widget(form.EtatDateTranche1) }}
                                         </div>

                                         <label>Date de la Première Tranche</label>
                                         <div class="form-group form-bootstrap-datetime">
                                             <div class="input-group" data-plugin="flatpickr" data-wrap="true">
                                                 {{ form_widget(form.dateTranche1, { 'attr': {'class': 'form-control flatpickr-input', 'readonly': 'readonly', 'data-input':'' } }) }}
                                                 <span class="input-group-addon date-icon" data-toggle="">
                          <i class="icon icon_calendar"></i>
                          </span>
                                             </div>
                                         </div>

                                         <div class="form-group">
                                             <table class="table-vertical" id="example">
                                                 <tr>
                                                     <td data-title="Tranche 1"><b><input type="text" name="nbTp"value="Tranche 1" disabled></b></td>
                                                     <td data-title="Cours"><b><input type="text" name="nbTp" value="Cours" disabled></b></td>
                                                     <td data-title="T.D"><b><input type="text" name="nbTp" value="T.D" disabled></b></td>
                                                     <td data-title="TP"><b><input type="text" name="nbTp" value="T.P" disabled></b></td>
                                                     <td data-title="Rattrapage"><b><input type="text" name="nbTp" value="Rattrapage" disabled></b></td>
                                                     <td data-title="Surveillance"><b><input type="text" name="nbTp" value="Surveillance" disabled></b></td>
                                                     <td data-title="Formation"><b><input type="text" name="nbTp" value="Formation" disabled></b></td>
                                                 </tr>
                                                 <tr>
                                                     <td data-title="Nombre d'heures"><b><input type="text" name="nbTp"value="Nombre d'heures" disabled></b></td>
                                                     <td data-title="Nombre d'heures"><input type="number" name="id1" value="" id="id1" onkeyup="result()"></td>
                                                     <td data-title="Tarif en DT/H"><input type="number" name="id2" value="" id="id2" onkeyup="result()"></td>
                                                     <td data-title="Total"><input type="number" name="id3" id="id3" onkeyup="result()"></td>
                                                     <td data-title="Total"><input type="number" name="id4" id="id4" onkeyup="result()"></td>
                                                     <td data-title="Total"><input type="number" name="id5" id="id5" onkeyup="result()"></td>
                                                     <td data-title="Total"><input type="number" name="id6" id="id6" onkeyup="result()"></td>
                                                 </tr>
                                                 <tr>
                                                     <td data-title="Tarif en DT/H"><b><input type="text" name="nbTp"value="Tarif en DT/H" disabled></b></td>
                                                     <td data-title="Total"><input type="number" name="id7" id="id7" onkeyup="result()"></td>
                                                     <td data-title="Total"><input type="number" name="id8" id="id8" onkeyup="result()"></td>
                                                     <td data-title="Nombre d'heures"><input type="number" name="id9" value="" id="id9" onkeyup="result()"></td>
                                                     <td data-title="Tarif en DT/H"><input type="number" name="id10" id="id10" onkeyup="result()"></td>
                                                     <td data-title="Nombre d'heures"><input type="number" name="id11" value="" id="id11" onkeyup="result()"></td>
                                                     <td data-title="Tarif en DT/H"><input type="number" name="id12" id="id12" onkeyup="result()"></td>
                                                 </tr>
                                                 <tr>
                                                     <td data-title="Total"><b><input type="text" name="nbTp"value="Total" disabled></b></td>
                                                     <td data-title="Nombre d'heures"><input type="number" value="0" name="id13" id="id13" onkeyup="result()" disabled></td>
                                                     <td data-title="Tarif en DT/H"><input type="number" name="id14" value="0" id="id14" onkeyup="result()" disabled></td>
                                                     <td data-title="Total"><input type="number" name="id15" id="id15" value="0" onkeyup="result()" disabled></td>
                                                     <td data-title="Total"><input type="number" name="id16" id="id16" value="0" onkeyup="result()" disabled></td>
                                                     <td data-title="Total"><input type="number" name="id17" id="id17" value="0" onkeyup="result()" disabled></td>
                                                     <td data-title="Total"><input type="number" name="id18" id="id18" value="0" onkeyup="result()" disabled></td>
                                                 </tr>
                                                 <tr>
                                                     <td data-title="Montant à payer"><b><input type="text" name="nbTp"value="Montant à payer" disabled></b></td>
                                                     <td colspan="6">{{ form_widget(form.montant1, {'id': 'id19', 'attr': { 'step': '0.01', 'class': 'custom-class', 'onkeyup': 'result();'}}) }}</td>
                                                 </tr>
                                             </table>
                                         </div>

                                     </div></div></div>
                         </div>

                         <div class="col-md-12 profile-contain">
                             <div class="row">
                                 <div class="col-md-12 col-xs-12">
                                     <div class="content">


                         <label>Etat de la Deuxième Tranche</label>
                         <div class="form-group">
                             {{ form_widget(form.EtatDateTranche2) }}
                          </div>

                          <label>Date de la Deuxième Tranche</label>
                         <div class="form-group form-bootstrap-datetime">
                             <div class="input-group" data-plugin="flatpickr" data-wrap="true">
                                 {{ form_widget(form.dateTranche2, { 'attr': {'class': 'form-control flatpickr-input', 'readonly': 'readonly', 'data-input':'' } }) }}
                                 <span class="input-group-addon date-icon" data-toggle="">
                          <i class="icon icon_calendar"></i>
                          </span>
                             </div>
                         </div>

                         <div class="form-group">
                             <table class="table-vertical" id="example">
                                 <tr>
                                     <td data-title="Tranche 2"><b><input type="text" name="nbTp"value="Tranche 2" disabled></b></td>
                                     <td data-title="Cours"><b><input type="text" name="nbTp" value="Cours" disabled></b></td>
                                     <td data-title="T.D"><b><input type="text" name="nbTp" value="T.D" disabled></b></td>
                                     <td data-title="TP"><b><input type="text" name="nbTp" value="T.P" disabled></b></td>
                                     <td data-title="Rattrapage"><b><input type="text" name="nbTp" value="Rattrapage" disabled></b></td>
                                     <td data-title="Surveillance"><b><input type="text" name="nbTp" value="Surveillance" disabled></b></td>
                                     <td data-title="Formation"><b><input type="text" name="nbTp" value="Formation" disabled></b></td>
                                 </tr>
                                 <tr>
                                     <td data-title="Nombre d'heures"><b><input type="text" name="nbTp"value="Nombre d'heures" disabled></b></td>
                                     <td data-title="Nombre d'heures"><input type="number" name="id20" value="" id="id20" onkeyup="result1()"></td>
                                     <td data-title="Tarif en DT/H"><input type="number" name="id21" value="" id="id21" onkeyup="result1()"></td>
                                     <td data-title="Total"><input type="number" name="id22" id="id22" onkeyup="result1()"></td>
                                     <td data-title="Total"><input type="number" name="id23" id="id23" onkeyup="result1()"></td>
                                     <td data-title="Total"><input type="number" name="id24" id="id24" onkeyup="result1()"></td>
                                     <td data-title="Total"><input type="number" name="id25" id="id25" onkeyup="result1()"></td>
                                 </tr>
                                 <tr>
                                     <td data-title="Tarif en DT/H"><b><input type="text" name="nbTp"value="Tarif en DT/H" disabled></b></td>
                                     <td data-title="Total"><input type="number" name="id26" id="id26" onkeyup="result1()"></td>
                                     <td data-title="Total"><input type="number" name="id27" id="id27" onkeyup="result1()"></td>
                                     <td data-title="Nombre d'heures"><input type="number" name="id28" value="" id="id28" onkeyup="result1()"></td>
                                     <td data-title="Tarif en DT/H"><input type="number" name="id29" id="id29" onkeyup="result1()"></td>
                                     <td data-title="Nombre d'heures"><input type="number" name="id30" value="" id="id30" onkeyup="result1()"></td>
                                     <td data-title="Tarif en DT/H"><input type="number" name="id31" id="id31" onkeyup="result1()"></td>
                                 </tr>
                                 <tr>
                                     <td data-title="Total"><b><input type="text" name="nbTp"value="Total" disabled></b></td>
                                     <td data-title="Nombre d'heures"><input type="number" value="0" name="id32" id="id32" onkeyup="result1()" disabled></td>
                                     <td data-title="Tarif en DT/H"><input type="number" name="id33" value="0" id="id33" onkeyup="result1()" disabled></td>
                                     <td data-title="Total"><input type="number" name="id34" id="id34" value="0" onkeyup="result1()" disabled></td>
                                     <td data-title="Total"><input type="number" name="id35" id="id35" value="0" onkeyup="result1()" disabled></td>
                                     <td data-title="Total"><input type="number" name="id36" id="id36" value="0" onkeyup="result1()" disabled></td>
                                     <td data-title="Total"><input type="number" name="id37" id="id37" value="0" onkeyup="result1()" disabled></td>
                                 </tr>
                                 <tr>
                                     <td data-title="Montant à payer"><b><input type="text" name="nbTp"value="Montant à payer" disabled></b></td>
                                     <td colspan="6">{{ form_widget(form.montant3, {'id': 'id38', 'attr': { 'step': '0.01', 'class': 'custom-class', 'onkeyup': 'result1();'}}) }}</td>
                                 </tr>
                             </table>
                         </div>

                                     </div></div></div>
                         </div>

                         <div class="col-md-12 profile-contain">
                             <div class="row">
                                 <div class="col-md-12 col-xs-12">
                          <div class="content">
                              <label>Etat de la Troisième Tranche</label>
                              <div class="form-group">
                                  {{ form_widget(form.EtatDateTranche3) }}
                              </div>
                         <label>Date de la Troisième Tranche</label>
                         <div class="form-group form-bootstrap-datetime">
                             <div class="input-group" data-plugin="flatpickr" data-wrap="true">
                                 {{ form_widget(form.dateTranche3, { 'attr': {'class': 'form-control flatpickr-input', 'readonly': 'readonly', 'data-input':'' } }) }}
                                 <span class="input-group-addon date-icon" data-toggle="">
                          <i class="icon icon_calendar"></i>
                          </span>
                             </div>
                         </div>

                         <div class="form-group">
                             <table class="table-vertical" id="example">
                                 <tr>
                                     <td data-title="Tranche 3"><b><input type="text" name="nbTp"value="Tranche 3" disabled></b></td>
                                     <td data-title="Cours"><b><input type="text" name="nbTp" value="Cours" disabled></b></td>
                                     <td data-title="T.D"><b><input type="text" name="nbTp" value="T.D" disabled></b></td>
                                     <td data-title="TP"><b><input type="text" name="nbTp" value="T.P" disabled></b></td>
                                     <td data-title="Rattrapage"><b><input type="text" name="nbTp" value="Rattrapage" disabled></b></td>
                                     <td data-title="Surveillance"><b><input type="text" name="nbTp" value="Surveillance" disabled></b></td>
                                     <td data-title="Formation"><b><input type="text" name="nbTp" value="Formation" disabled></b></td>
                                 </tr>
                                 <tr>
                                     <td data-title="Nombre d'heures"><b><input type="text" name="nbTp"value="Nombre d'heures" disabled></b></td>
                                     <td data-title="Nombre d'heures"><input type="number" name="id39" value="" id="id39" onkeyup="result2()"></td>
                                     <td data-title="Tarif en DT/H"><input type="number" name="id40" value="" id="id40" onkeyup="result2()"></td>
                                     <td data-title="Total"><input type="number" name="id41" id="id41" onkeyup="result2()"></td>
                                     <td data-title="Total"><input type="number" name="id42" id="id42" onkeyup="result2()"></td>
                                     <td data-title="Total"><input type="number" name="id43" id="id43" onkeyup="result2()"></td>
                                     <td data-title="Total"><input type="number" name="id44" id="id44" onkeyup="result2()"></td>
                                 </tr>
                                 <tr>
                                     <td data-title="Tarif en DT/H"><b><input type="text" name="nbTp"value="Tarif en DT/H" disabled></b></td>
                                     <td data-title="Total"><input type="number" name="id45" id="id45" onkeyup="result2()"></td>
                                     <td data-title="Total"><input type="number" name="id46" id="id46" onkeyup="result2()"></td>
                                     <td data-title="Nombre d'heures"><input type="number" name="id47" value="" id="id47" onkeyup="result2()"></td>
                                     <td data-title="Tarif en DT/H"><input type="number" name="id48" id="id48" onkeyup="result2()"></td>
                                     <td data-title="Nombre d'heures"><input type="number" name="id49" value="" id="id49" onkeyup="result2()"></td>
                                     <td data-title="Tarif en DT/H"><input type="number" name="id50" id="id50" onkeyup="result2()"></td>
                                 </tr>
                                 <tr>
                                     <td data-title="Total"><b><input type="text" name="nbTp"value="Total" disabled></b></td>
                                     <td data-title="Nombre d'heures"><input type="number" value="0" name="id51" id="id51" onkeyup="result2()" disabled></td>
                                     <td data-title="Tarif en DT/H"><input type="number" name="id52" value="0" id="id52" onkeyup="result2()" disabled></td>
                                     <td data-title="Total"><input type="number" name="id53" id="id53" value="0" onkeyup="result2()" disabled></td>
                                     <td data-title="Total"><input type="number" name="id54" id="id54" value="0" onkeyup="result2()" disabled></td>
                                     <td data-title="Total"><input type="number" name="id56" id="id56" value="0" onkeyup="result2()" disabled></td>
                                     <td data-title="Total"><input type="number" name="id57" id="id57" value="0" onkeyup="result2()" disabled></td>
                                 </tr>
                                 <tr>
                                     <td data-title="Montant à payer"><b><input type="text" name="nbTp" value="Montant à payer" disabled></b></td>
                                     <td colspan="6">{{ form_widget(form.montant2, {'id': 'id58', 'attr': { 'step': '0.01', 'class': 'custom-class', 'onkeyup': 'result2();'}}) }}</td>
                                 </tr>
                             </table>
                         </div>

                     </div>

                         <div class="control-group">
                             <input type="hidden" name="dateTranche1" value={{ paiement.dateTranche1|date('d-m-Y') }} >
                             <input type="hidden" name="dateTranche2" value={{ paiement.dateTranche2|date('d-m-Y') }} >
                             <input type="hidden" name="dateTranche3" value={{ paiement.dateTranche3|date('d-m-Y') }} >
                             {{ form_widget(form.submit, { 'label': 'Sauvegarder' }) }}
                         </div>

                         {{ form_end(form) }}

                     </div>


                 </div></div></div>
     </div>

                 </div></div></div>

 {% endblock %}


                        {% block footer %}

                            <!-- START CORE JAVASCRIPT -->
                            <script type="text/javascript" src="{{ asset('templates/assets/global/plugins/jquery/dist/jquery.min.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('templates/assets/global/plugins/tether/dist/js/tether.min.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('templates/assets/global/plugins/bootstrap/dist/js/bootstrap.min.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('templates/assets/global/plugins/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('templates/assets/global/plugins/switchery/dist/switchery.min.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('templates/assets/global/plugins/screenfull.js/dist/screenfull.min.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('templates/assets/global/plugins/classie/classie.js') }}"></script>
                            <!-- END CORE JAVASCRIPT -->

                            <!-- START PAGE PLUGINS -->

                            <script type="text/javascript" src="{{ asset('templates/assets/global/plugins/moment/min/moment.min.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('templates/assets/global/plugins/flatpickr/dist/flatpickr.min.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('templates/assets/global/plugins/jQuery.print/jQuery.print.js') }}"></script>
                            <!-- END PAGE PLUGINS -->


                            <!-- START GLOBAL JAVASCRIPT -->
                            <script type="text/javascript" src="{{ asset('templates/assets/global/js/site.min.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('templates/assets/global/js/site-settings.min.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('templates/assets/global/js/global/userlist.js') }}"></script>
                            <!-- END THEME LAYOUT JAVASCRIPT -->

                        {% endblock %}
