{% extends "::layoutAdmin.html.twig" %}

{% block body %}
    <div class="col-md-12 profile-contain">
    <div class="row">
    <div class="col-md-12 col-xs-12">
    <div class="content">
    <h1>Information sur l'étudiant(e) : <b>{{ etudiant.nom }} {{ etudiant.prenom }}</b> </h1>
    <a href="{{path('listEtudiant')}}">Revenir à la liste des étudiants</a>
    <table class="table">
    <tbody>
    <tr><td><b>Nom</b></td><td>{{ etudiant.nom }}</td></tr>
    <tr><td><b>Prenom</b></td><td>{{ etudiant.prenom }}</td></tr>
    <tr><td><b>Sexe</b></td><td>{{ etudiant.sexe }}</td></tr>
    <tr><td><b>date de Naissance</b></td><td>{{ etudiant.dateNaissance|date('d-m-Y') }}</td></tr>
    <tr><td><b>LieuNaissance</b></td><td>{{ etudiant.nationalite }}</td></tr>
    <tr><td><b>Ville</b></td><td>{{ etudiant.ville }}</td>
    <tr><td><b>Numéro Cin/Pass</b></td><td>{{ etudiant.numCinPass }}</td></tr>
    <tr><td><b>Adresse</b></td><td>{{ etudiant.adresse }}</td></tr>
    <tr><td><b>Téléphone</b></td><td>{{ etudiant.tel }}</td></tr>
    <tr><td><b>Email</b></td><td>{{ etudiant.email }}</td></tr>
    <tr><td><b>Diplome</b></td><td>{{ etudiant.diplome }}</td></tr>
    <tr><td><b>Année d'obtention</b></td><td>{{ etudiant.anneeObtention|date('d-m-Y') }}</td></tr>
    <tr><td><b>Login</b></td><td>{{ etudiant.login }}</td></tr>
    <tr><td><b>Mot de Passe</b></td><td>{{ etudiant.password }}</td></tr>
    <tr><td><b>Etat du l'étudiant</b></td><td>{{ etudiant.etat }}</td></tr>
    <tr><td><b>Classe de l'étudiant</b></td><td>{{ etudiant.classe }}</td></tr>
    <tr><td><b>Groupe de l'étudiant</b></td><td>{{ etudiant.groupe }}</td></tr>
    <tr><td><a href="{{ path('modifier_Etudiant',{'id':etudiant.id,'username':etudiant.login}) }}"><button class="btn btn-primary">Modifier</button></a></td></tr>
    </tbody>
        </table>
    </div></div></div></div>
{% endblock %}