{% extends "::layoutAdmin.html.twig" %}

{% block javascripts %}
       <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
       <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       <script type="text/javascript" charset="utf-8">
           $(document).ready(function() {
               $('#example').DataTable( {
                   columnDefs: [ {
                       targets: [ 0 ],
                       orderData: [ 0, 1 ]
                   }, {
                       targets: [ 1 ],
                       orderData: [ 1, 0 ]
                   }, {
                       targets: [ 5 ],
                       orderData: [ 5, 0 ]
                   } ]
               } );
           } );
       </script>

       <link rel="stylesheet" type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
       <link rel="stylesheet" href="{{ asset('templates/assets/global/css/Responsive_Table_Style.css') }}"/>

   {% endblock %}

{% block body %}
<div class="col-md-12 profile-contain">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="content">
    <h2>Liste des étudiants :</h2>

                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="">
                        <div class="">
                            <div class="">
                                <form action="{{ path('exportEtudiant') }}" method="post" enctype="multipart/form-data">
                                    <input type="submit" value="Exporter la liste" name="submit">
                                </form>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div id="no-more-tables">
    <table class="table-vertical" id="example">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>DateNaissance</th>
            <th>LieuNaissance</th>
            <th>Ville</th>
            <th>Sexe</th>
            <th><a href="{{path('ajouter_Etudiant')}}">+Nouveau Etudiant</a></th>
        </tr>
        </thead>
        <tbody>
        {% for etd in etudiants %}
            <tr>
                <td data-title="Nom"><a href="{{ path('infosEtudiant', { 'id': etd.id }) }}">{{ etd.nom }}</a></td>
                <td data-title="Prénom">{{ etd.prenom }}</td>
                <td data-title="Date de Naissance">{{ etd.dateNaissance|date("d-m-Y", false) }}</td>
                <td data-title="Lieu de Naissance">{{ etd.lieuNaissance }}</td>
                <td data-title="Ville">{{ etd.ville }}</td>
                <td data-title="Sexe">{{ etd.sexe }}</td>
                <td data-title="Action">

                    <div class="btn-toolbar" role="toolbar">

                        <div class="btn-group">

                            <a href="{{ path('infosEtudiant', { 'id': etd.id }) }}">
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </a>

                            <a href="{{ path('modifier_Etudiant',{'id':etd.id,'username':etd.login}) }}">
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </a>

                            <a href="{{ path('supprimerEtudiant',{'id':etd.id,'username':etd.login}) }}">
                                <button type="button" class="btn btn-default" onclick="if(window.confirm('Voulez-vous vraiment supprimer ?'))
                                {return true;}else{return false;}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button></a>
                        </div>
                    </div>


                </td>
            </tr>
        {% else %}
            <p>Aucune préinscrit n'a été trouvée.</p>
        {% endfor %}
        </tbody>
    </table>
    </div></div></div></div></div>
{% endblock %}
