{% extends "::layoutAdmin.html.twig" %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#example').DataTable( {
                columnDefs: [ {
                    targets: [ 0 ],
                    orderData: [ 0, 1 ]
                }, {
                    targets: [ 1 ],
                    orderData: [ 1, 0 ]
                }, {
                    targets: [ 5 ],
                    orderData: [ 5, 0 ]
                } ]
            } );
        } );
    </script>

    <link rel="stylesheet" type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/css/Responsive_Table_Style.css') }}"/>

{% endblock %}

{% block body %}
    <div class="col-md-12 col-xs-12">
        <div class="content">

            {# On affiche tous les messages flash dont le nom est « info » #}
            {% for message in app.session.flashbag.get('success') %}
            <div class="mt20 container abso col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="rows text-center">
                    <div class="h alert alert-danger alert-dismissible">
                        {{ message }}
                    </div>
                    {% endfor %}

            <h3>Liste des préinscits :</h3>

            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <div class="">
                    <div class="">
                        <div class="">
                            <span>Importer fichier des pré-inscrits :</span> <br>
                            <form action="{{ path('ImportPreinscrits') }}" method="post" enctype="multipart/form-data">
                                <input type="file" name="file" id="fileToUpload"><br>
                                <input type="submit" value="Upload Fichier" name="submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          <br>

            <div id="no-more-tables">
                <br><br><br><br><br>
                <table class="table-vertical" id="example">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>DateNaissance</th>
                        <th>LieuNaissance</th>
                        <th>Ville</th>
                        <th>Sexe</th>
                        <th>Etat</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pre in preinscrits %}
                        <tr>
                            <td data-title="Nom"><a href="{{ path('infosPreEtudiant', { 'id': pre.id }) }}">{{ pre.nom }}</a></td>
                            <td data-title="Prénom">{{ pre.prenom }}</td>
                            <td data-title="Date de Naissance">{{ pre.dateNaissance|date("m/d/Y", false) }}</td>
                            <td data-title="Lieu de Naissance">{{ pre.lieuNaissance }}</td>
                            <td data-title="Ville">{{ pre.ville }}</td>
                            <td data-title="Sexe">{{ pre.sexe }}</td>
                            <td data-title="Sexe">{{ pre.etat }}</td>
                            <td data-title="Action">
                                <div class="btn-toolbar" role="toolbar">

                                    <div class="btn-group">

                                        <a href="{{ path('infosPreEtudiant', { 'id': pre.id }) }}">
                                            <button type="button" class="btn btn-default">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </a>

                                        <a href="{{ path('acepterPreinscrit',{'id':pre.id}) }}">
                                            <button type="button" class="btn btn-default">
                                                <span class="glyphicon glyphicon-envelope"></span>
                                            </button>
                                        </a>

                                        <a href="{{ path('valider_preinscrit',{ 'id': pre.id }) }}">
                                            <button type="button" class="btn btn-default">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                        </a>

                                        <a href="{{ path('refuserPreinscrit',{'id':pre.id}) }}">
                                            <button type="button" class="btn btn-default" onclick="if(window.confirm('Voulez-vous vraiment supprimer ?'))
                                {return true;}else{return false;}">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <p>Aucune préinscrit n'a été trouvée.</p>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
