{% extends '::layoutEtudiant.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#example').DataTable( {
                columnDefs: [ {
                    targets: [ 0 ],
                    orderData: [ 0, 1 ]
                }, {
                    targets: [ 1 ],
                    orderData: [ 1, 0 ]
                }, {
                    targets: [ 4 ],
                    orderData: [ 4, 0 ]
                } ]
            } );
        } );
    </script>

    <link rel="stylesheet" type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>

{% endblock %}

{% block body %}
<div class="col-md-12 profile-contain">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="content">
        <table class="table">
            <tbody>
            {% for etudiant in etudiant %}
                <tr>
                <tr><td><b>Nom</b></td><td>{{ etudiant.nom }}</td></tr>
                <tr><td><b>Prenom</b></td><td>{{ etudiant.prenom }}</td></tr>
                <tr><td><b>Sexe</b></td><td>{{ etudiant.sexe }}</td></tr>
                <tr><td><b>date de Naissance</b></td><td>{{ etudiant.dateNaissance|date('d-m-Y') }}</td></tr>
                <tr><td><b>LieuNaissance</b></td><td>{{ etudiant.nationalite }}</td></tr>
                <tr><td><b>Ville</b></td><td>{{ etudiant.ville }}</td>
                <tr><td><b>Numéro Cin/Pass</b></td><td>{{ etudiant.numCinPass }}</td></tr>
                <tr><td><b>Adresse</b></td><td>{{ etudiant.adresse }}</td></tr>
                <tr><td><b>Téléphone</b></td><td>{{ etudiant.tel }}</td></tr>
                <tr><td><b>Email</b></td><td>{{ etudiant.email }}</td></tr>
                <tr><td><b>Diplome</b></td><td>{{ etudiant.diplome }}</td></tr>
                <tr><td><b>Année d'obtention</b></td><td>{{ etudiant.anneeObtention|date('d-m-Y') }}</td></tr>
                <tr><td><b>Login</b></td><td>{{ etudiant.login }}</td></tr>
                <tr><td><b>Etat du l'étudiant</b></td><td>{{ etudiant.etat }}</td></tr>
                <tr><td><b>Classe de l'étudiant</b></td><td>{{ etudiant.classe }}</td></tr>
                <tr><td><b>Groupe de l'étudiant</b></td><td>{{ etudiant.groupe }}</td></tr>
                <tr><td><a href="{{ path('modifierProfilEtudiant',{'id':etudiant.id,'username':etudiant.login, 'classe':etudiant.classe, 'groupe':etudiant.groupe, }) }}"><button class="btn btn-primary">Modifier</button></a></td></tr>
            {% else %}
                <p>Aucune information n'a été trouvée.</p>
            {% endfor %}
            </tbody>
        </table>
            </div></div></div>
</div>
{% endblock %}
