{% extends '::layoutAdmin.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/css/Responsive_Table_Style.css') }}"/>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#example').DataTable( {
                columnDefs: [ {
                    targets: [ 0 ],
                    orderData: [ 0, 1 ]
                }, {
                    targets: [ 1 ],
                    orderData: [ 1, 0 ]
                }, {
                    targets: [ 3 ],
                    orderData: [ 3, 0 ]
                } ]
            } );
        } );
    </script>

{% endblock %}

{% block body %}
                <div class="col-md-12 profile-contain">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="content">
                                <h3>Liste des filières</h3>
                                <div id="no-more-tables">
                                    <table class="table-vertical" id="example">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Intitulé</th>
                                            <th><a href="{{path('ajouter_filieres')}}">+Nouvelle Filière</a></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for fil in filiere %}
                                            <tr>
                                                <td data-title="ID">{{ fil.id }}</td>
                                                <td data-title="Intitulé">{{ fil.intitule }}</td>
                                                <td data-title="Action">
                                                    <div class="btn-toolbar" role="toolbar">

                                                        <div class="btn-group">
                                                                <a href="{{ path('modifier_filieres',{'id':fil.id}) }}">
                                                                <button type="button" class="btn btn-default">
                                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                                </button>
                                                            </a>

                                                            <a href="{{ path('supprimer_filieres',{'id':fil.id}) }}">
                                                                <button type="button" class="btn btn-default" onclick="if(window.confirm('Voulez-vous vraiment supprimer ?'))
                                {return true;}else{return false;}">
                                                                    <span class="glyphicon glyphicon-trash"></span>
                                                                </button></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <p>Aucune filières n'a été trouvée.</p>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
