{% extends '::layoutAdmin.html.twig' %}

{% block header %}

    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/datatables/media/css/dataTables.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/datatables-scroller/css/scroller.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/flatpickr/dist/flatpickr.min.css') }}"/>

{% endblock %}

{% block javascripts %}

{% endblock %}

 {% block body %}
     <div class="content content-product-edit datatable-width">
         <div class="nav-tab-horizontal">
             <div class="divider15"></div>
             <div class="tab-content">
                 <div>
                     <div class="row">
                         <h5>Modifier une filière / <a href="{{path('liste_filieres')}}">Liste des filières</a> </h5>
                         {{ form_start(form,{'attr':{'action':path('modifier_filieres',{ 'id': filiere.id })}}) }}
                         <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                             <br>
                             <label>Intitulé</label>
                             {{ form_widget(form.intitule) }}
                             <br>
                             <div class="control-group">
                                 {{ form_widget(form.submit, { 'label': 'Sauvegarder' }) }}
                             </div>
                             <br>
                             {{ form_end(form) }}
                             <br><br>
                         </div>
                     </div></div></div></div></div>
 {% endblock %}


                        {% block footer %}

                            <!-- START CORE JAVASCRIPT -->
                            <script type="text/javascript" src="{{ asset('templates/assets/global/plugins/jquery/dist/jquery.min.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('templates/assets/global/plugins/tether/dist/js/tether.min.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('templates/assets/global/plugins/bootstrap/dist/js/bootstrap.min.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('templates/assets/global/plugins/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('templates/assets/global/plugins/switchery/dist/switchery.min.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('templates/assets/global/plugins/screenfull.js/dist/screenfull.min.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('templates/assets/global/plugins/classie/classie.js') }}"></script>
                            <!-- END CORE JAVASCRIPT -->

                            <!-- START PAGE PLUGINS -->

                            <script type="text/javascript" src="{{ asset('templates/assets/global/plugins/moment/min/moment.min.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('templates/assets/global/plugins/flatpickr/dist/flatpickr.min.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('templates/assets/global/plugins/jQuery.print/jQuery.print.js') }}"></script>
                            <!-- END PAGE PLUGINS -->


                            <!-- START GLOBAL JAVASCRIPT -->
                            <script type="text/javascript" src="{{ asset('templates/assets/global/js/site.min.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('templates/assets/global/js/site-settings.min.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('templates/assets/global/js/global/userlist.js') }}"></script>
                            <!-- END THEME LAYOUT JAVASCRIPT -->

                        {% endblock %}
